@import "./../styles/variables.scss";

.game-page {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.game-page__left {
    height: calc($square-size * 8);
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: end;
    justify-items: end;
    width: 100%;
}

.game-page__right {
    height: calc($square-size * 8);
    align-items: baseline;
    display: grid;
    grid-template-rows: 15fr 1fr;
    width: 90%;
}

.taken-pieces{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 5px;
}

.taken-pieces--enemy{
    align-items: start;
}

.taken-pieces--player{
    align-items: end;
}

.timer{
    background-color: grey;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}

.game-page__right__buttons {
    position: relative;
}