.not-found__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  .not-found__title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
  }
}
