.lobby-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    width: 80%;
  }
  
  td, th {
    width: -moz-available;
    text-align: left;
    padding: 8px;
    display: flex;
    justify-content: space-between;
  }



.header{
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 8fr 3fr;
  text-align: center;
  gap: 1rem;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  background-color:antiquewhite;
  border-top-right-radius: 10px;
  font-weight: 600;
  padding: 0 0.3rem 0 0.3rem;
}

.game-list{
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
  width: 90vw;
}