@import "./../../styles/variables.scss";

.moves-history-container{
    height: inherit;
    width: 100%;
}

.table-container {
    max-height: calc(5*$square-size);
    overflow-y: auto;
    scrollbar-width: none;
    
}
.table__element{
    border-collapse: collapse;
    table-layout: "fixed";
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
}
