@import "./../../styles/variables.scss";

body.grabbing, body.grabbing * {
    cursor: grabbing !important;
}

.notation{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: left;
    align-items: end;
    opacity: 50%;

    p{
        font-size: small;
        padding: 0;
        margin: 1px;
    }
}

.square {
    width: $square-size;
    height: $square-size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#black {
    background-color: $black-square-color;
}

#white {
    background-color: $white-square-color;
}

.piece {
    position: absolute;
    width: calc($square-size * 0.95);
    height: calc($square-size * 0.95);;
    z-index: 999;

    img {
        transform-origin: center;
        width: inherit;
        height: inherit;
        cursor: grab;
    }

    &.dragging {
        opacity: 0.3;
        transition: opacity 0.2s ease; 
    }
}

#dragging-piece {
    pointer-events: none;
    transform: scale(1.15);
}

